name: 'Auto Assign'

on: pull_request

jobs:
  assign:
    name: Sync PR
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.2.0
        with:
          configuration-path: '.github/auto_assign.yml'
